html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.after-start {
    display: none;
}


body {
    background-color: #b4cfff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

}

h1 {
    margin-bottom: 10px;
}

p {
    margin: 0px;
}

h1, p {
    text-align: center;
    font-family: "Gill Sans MT", sans-serif;
}

.buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-bottom: 150px;
}

a {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 75vw;
    max-width: 500px;
    height: 75px;
    display: flex;
    flex-direction: column;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Gill Sans MT", sans-serif;
    color: white;
    cursor: pointer;
}

.button-text-main {
    font-size: 25pt;
    font-weight: bold;
    margin: 0;
}

.button-text {
    margin: 0;
}

.start-button {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.9)), url("../img/funky town.webp");
}

.main-button {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.9)), url("../img/funky town.jpeg");
}

.drink-button {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.9)), url("../img/bla bla bla.jpeg");
}

.paused-button {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.9)), url("../img/up & down.jpeg");
}

.finish-button {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.9)), url("../img/gypsy woman.jpg");
}

.stop-button {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.32), rgba(124, 0, 0, 0.9));
}


.selected {
    border-color: blue;
    border-width: 5px;
    border-style: solid;
}

.playing {
    outline: red 5px solid;
}

@media (min-width: 650px) {
    a {
        width: 200px;
        height: 200px;
        justify-content: center;
    }

    .buttons {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
}