html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.after-start {
    display: none;
}

.warning {
    color: red;
    font-weight: bold;
}

body {
    background-color: #cee3f6;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

}

h1 {
    color: #1c244b;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.2em;
    font-size: calc(1.35rem + 1.2vw);
}

p {
    margin: 0px;
}

* {
    font-family: "Poppins", sans-serif;
}

h1, p {
    text-align: center;
}





.clickable-button {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    user-select: none;
    transition: 0.1s;
}

.is-stopping {
    background-image: linear-gradient(to bottom, #8a1a1a, #8a1a1a) !important;
}

.button-text-main {
    font-size: 25pt;
    font-weight: bold;
    margin: 0;
}

.button-text {
    margin: 0;
    line-break: strict;
}

.buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px;;
}

.stop-button {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.32), rgba(124, 0, 0, 0.9));
}


.selected {
    border-color: #1c244b;
    border-width: 5px;
    border-style: solid;
}

.playing {
    outline: #0092df 5px solid;
}

.loading {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-bottom: 5px solid #cee3f6;
    border-radius: 50%;
    animation: ease-in-out loadingAnimation 1s infinite;
}

.playing-no-remember {
    outline: white 5px solid;
}

.sound-effect {
    outline: red 5px solid;
}

@keyframes loadingAnimation {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@media screen and (min-width: 992px) {
    .clickable-button {
        width: 250px;
        height: 250px;
        justify-content: center;
    }

    .buttons {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        padding: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .clickable-button {
        width: 250px;
        height: 250px;
        justify-content: center;
    }

    .buttons {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
}